#SearchView{
  padding-top: 165px;
  display: flex;
  justify-content: center;
  min-height: 800px;
  @media (max-width: 1024px) {
    padding-top: 54px;
    height: 100%;
    min-height: 700px;
  }
  .searchView_container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .search_area{
      width: 100%;
      padding: 30px 0;
      display: flex;
      justify-content: center;
      .search{
        width: 520px;
        border-bottom: 3px solid #000;
        padding-bottom: 16px;
        input::placeholder {
          font-size: 20px;
          color: #7d7d7d;
        }
        input{
          outline:none;
          border: none;
          width: 500px;
          color: #000;
          font-size: 24px;
          font-weight: 700;
          letter-spacing: -.015em;
          line-height: 29px;
          padding: 0 13px 0 1px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        i{
          font-size: 20px;
          cursor: pointer ;
        }
      }
    }
    .pc_container {
      max-width: 1200px;
      width: 100%;
      @media (max-width: 1024px) {
        //width: 92%;
        padding: 0 12px;
      }

      .title {
        padding: 45px 0 40px;
        @media (max-width: 1024px) {
          padding: 25px 0 20px;
        }

        p {
          text-align: center;
          font-weight: 700;
          font-size: 30px;
          color: #1a1a1a;
        }
      }

      .category_box {
        ul {
          padding: 30px 0;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 24px;

          li {
            width: 90px;
            text-align: center;
            cursor: pointer;

            img {
              width: 80px;
              height: 80px;
            }
            p {
              font-size: 13px;
              color: #222;
            }
            &.active p {
              font-weight: bold;
              transform: scale(1.05);
              transition: all 0.2s;
            }
          }
        }

        @media (max-width: 1024px) {
          ul {
            justify-content: flex-start; // 왼쪽 정렬
            flex-wrap: nowrap; // 줄바꿈 없음
            overflow-x: auto;
            scrollbar-width: none; // firefox용
            -ms-overflow-style: none; // IE, Edge용
            &::-webkit-scrollbar {
              display: none; // 크롬 사파리 스크롤 숨기기
            }
            li {
              flex: 0 0 auto; // li가 줄어들지 않고 고정 너비 유지
            }
          }
        }
      }

      .product_item_container {
        margin-bottom: 22px;
        .product_header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0 20px;
          border-bottom: 1px solid #ebebeb;

          p {
            color: #7d7d7d;
            font-size: 13px;

            span {
              color: #1a1a1a;
              font-weight: bold;
            }
          }

          .el-select {
            width: 112px;
            @media (max-width: 1024px) {
              width: 90px;
            }
          }

          .el-input__inner {
            font-size: 13px;
            color: #000;
            @media (max-width: 1024px) {
              height: 35px;
              padding-left: 10px;
              padding-right: 0;
            }
          }

          .el-input__icon {
            display: flex;
            align-items: center;
          }
        }

        .product_main {
          margin-top: 22px;
          display: flex;
          flex-wrap: wrap;
          gap: 12px;
          row-gap: 20px;
          @media (max-width: 1024px) {
            gap: 12px;
            row-gap: 40px;
            .product_list {
              width: calc((100% - 12px) / 2) !important;
            }
          }
          @media (min-width: 1024px) {
            img{
              height: 285px;
            }
          }

          .product_list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            //width: 23%;
            width: calc((100% - 60px) / 5);
            cursor: pointer;
            @media (max-width: 1024px) {
              img{
                width: 100% !important;
              }
            }

            img {
              border-radius: 20px;
              width: 230px;
              height: 230px;
              //width: 100%;
              object-fit: cover;
            }
            .brand_name{
              color: #222;
              margin-top: 12px;
              font-size: 12px;
              font-weight: 700;
              color: #222;
              margin-bottom: 2px;
            }
            .text{
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              color: #222;
              display: -webkit-box;
              font-size: 13px;
              line-height: 16px;
              max-height: 34px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
            }
            .name {
              font-size: 12px;
              line-height: 18px;
              text-align: left;
              white-space: normal;
              color: #222;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              display: -webkit-box;
            }

            .price {
              font-weight: bold;
              margin-top: 10px;
              font-size: 14px;
              color: rgb(34, 34, 34);
            }
          }
        }

        .da-pagination {
          text-align: center;
          margin-top: 60px;
        }
      }
    }
  }
}