#section3 {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  @media (max-width: 1024px) {
    padding: 20px 12px !important;
  }

  .s3_container {
    width: 100%;
    @media (min-width: 1024px) {
      max-width: 1200px;
    }
    .hot_item {
      .title {
        color: #000;
        font-size: 17px;
        font-weight: 700;
      }

      .sub_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        color: rgba(34, 34, 34, .5);
        margin-top: 2px;
        margin-bottom: 16px;
      }
    }
    .item_box{
      column-gap: 12px;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      display: grid;
      row-gap: 28px;
      cursor: pointer;

      @media (max-width: 1024px) {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
        overflow-x: auto;
        scrollbar-width: none;
        width: 100%;
        .item{
          width: 152px !important;
          flex: 0 0 auto;
          margin: 0;
          padding: 0;
          display: inline-block;
          position: relative;
          vertical-align: top;
        }
      }

      .item{
        width: 100%;
        background-color: #fff;
        border-radius: 12px;
        display: block;
        img{
          width: 100%;
          border-radius: 12px;
        }
        .info_box{
          //padding: 12px 4px 0;
          //@media (max-width: 1024px) {
          padding: 0px 4px 0 !important;
          //}
          .brand_name{
            color: #222;
            margin-top: 12px;
            font-size: 12px;
            font-weight: 700;
            color: #222;
            margin-bottom: 2px;
          }
          .text{
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            color: #a7a7a7;
            display: -webkit-box;
            font-size: 11px;
            line-height: 16px;
            max-height: 34px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
          }
          .name {
            font-size: 13px;
                line-height: 18px;
                text-align: left;
                white-space: normal;
                color: #222;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
          }
        }
      }
    }
  }
}
