#section9 {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  @media (max-width: 1024px) {
    padding: 20px 12px !important;
  }

  .s2_container {
    width: 100%;
    @media (min-width: 1024px) {
      max-width: 1200px;
    }

    .hot_item {
      .title {
        color: #000;
        font-size: 17px;
        font-weight: 700;
      }

      .sub_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        color: rgba(34, 34, 34, .5);
        margin-top: 2px;
        margin-bottom: 16px;
      }
    }

    .swiper_box {
      position: relative;

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
      }

      .swiper-pagination2 {
        margin-top: 30px;
      }

      .swiper-pagination-bullet {
        background: #1a1a1a;
        margin-right: 10px;
      }

      .swiper-button-prev, .swiper-button-next {
        //top:32%;
        color: #3a3a3a;
      }

      @media (max-width: 1024px) {
        img{
          width: 100% !important;
        }
      }
      img {
        width: 190px;
      }

      .text_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        .content {
          &:hover {
            .text {
              text-decoration: underline;
            }

            cursor: pointer;
          }

          .title {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.2;
            color: #3a3a3a;
          }

          .text {
            text-align: left;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.2;
            color: #9a9a9a;
            margin-top: 15px;
          }
        }

        .el-icon-right {
          padding: 7px;
          border: 1px solid #ddd;
          border-radius: 50px;
          font-size: 20px;
        }
      }
    }
  }
}