#section7 {
  width: 100%;
  display: flex;
  justify-content: center;
  .s7_container {
    width: 100%;
    @media (min-width: 1024px) {
      padding:  40px 0;
      max-width: 1200px;
    }
    @media (max-width: 1024px) {
      padding:  20px 12px 20px 12px;
    }
    .brand_item{
      column-gap: 12px;
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      margin-left: auto;
      margin-right: auto;
      //max-width: 1200px;
      row-gap: 16px;
      .item_box{
        cursor: pointer;
        @media (max-width: 1024px) {
          img{
            width: 62px;
            border-radius: 50px;
          }
          p{
            font-size: 12px!important;
            margin-top: 4px;
          }
        }
        img{
          width: 100%;
        }
        p{
          font-size: 14px;
          color: #222;
          text-align: center;
        }
      }
    }
  }
}