#section1 {
  //height: 650px;
  height: 100%;
  @media (max-width: 1024px) {
    //height: 100vh !important;
    padding-top: 57px;
    .swiper-pagination{
      position: absolute;
      //left: 43% !important;
      left: 50% !important;
      transform: translateX(-50%);
      bottom: 7px;
    }
  }
  @media (min-width: 1024px) {
    padding-top: 165px;
  }
  width: 100%;
  .s1_container{
    width: 100%;
    height: 100%;
    position: relative;
    .swiper-container{
      height: 100%;
      .background-image {
        width: 100%;
        height: 100%;
      }
    }
    .swiper-pagination{
      position: absolute;
      //left: calc(50% - 70px);
      left: 50%;
      transform: translateX(-50%);
      //left: 47.7%;
      bottom: 7px;
    }
    .swiper-pagination-bullet{
      background: #fff;
      margin-right: 10px;
    }
  }
}