//브랜드 리스트들 css
#brandListView {
  padding-top: 165px;
  display: flex;
  justify-content: center;
  min-height: 800px;
  @media (max-width: 1024px) {
    padding-top: 54px;
    height: 100%;
    min-height: 700px;
  }

  .brand_container {
    width: 100%;
    max-width: 1200px;
    padding-top: 60px;
    @media (max-width: 1024px) {
      padding: 0 12px;
    }

    .filter_tab {
      @media (max-width: 1024px) {
        ul {
          gap: 5px;
          justify-content: flex-start;
          flex-wrap: nowrap;
          overflow-x: auto;
          scrollbar-width: none;
          -ms-overflow-style: none;
          &::-webkit-scrollbar {
            display: none;
          }
          li {
            flex: 0 0 auto;
          }
        }
      }
      ul {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(233, 236, 239);

        li {
          border: 1px solid #7d7d7d;
          border-radius: 50px;
          padding: 7px 10px;
          color: #7d7d7d;
          cursor: pointer;

          &.active {
            border: 1px solid #000;
            color: #000000;
            font-weight: bold;
          }
        }
      }
    }

    .brand_list {
      margin-bottom: 60px;
      @media (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        li{
          width: 33.33%;
        }
      }
      li {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(233, 236, 239);
        padding: 16px 32px;
        cursor: pointer;
        .img_box{
          height: 50px;
          background: #000;
          border-radius: 50px;
        }

        img {
          width: 50px;
          border-radius: 50px;
        }

        .text {
          margin-left: 20px;
          .enName{
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            color: rgb(33, 39, 42);
            height: 24px;
          }
          .koName{
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            color: rgb(76, 84, 91);
            height: 22px;
          }
        }
      }
    }
  }
}

//브랜드별 들어갔을때 페이지 csss
.product_brand {
  padding-top: 165px;
  display: flex;
  justify-content: center;
  min-height: 800px;
  @media (max-width: 1024px) {
    padding-top: 54px;
    height: 100%;
    min-height: 700px;
  }

  .pb_container {
    width: 100%;
    height: 100%;

    #brand_section1 {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }

    #brand_section2 {
      display: flex;
      justify-content: center;
      @media (max-width: 1024px) {
        padding: 0 12px;
      }

      .product_item_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .el-pagination {
          text-align: center;
          margin: 60px 0;
        }

        .product_item_container_top {
          width: 100%;
          max-width: 1200px;

          .product_header {
            display: flex;
            padding: 20px 0;
            border-bottom: 1px solid rgb(233, 236, 239);

            .img_box{
              width: 60px;
              height: 60px;
              background: #000;
              border-radius: 50px;
              img{
                width: 60px;
              }
            }

            .text {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 20px;
              .etitle {
                font-size: 24px;
                font-weight: bold;
              }

              .ktitle {
                margin-top: 5px;
                font-size: 15px;
                color: #7d7d7d;;
              }
            }
          }

          .category_box {
            ul {
              padding-top: 40px;
              display: flex;
              justify-content: center;
              gap: 24px;

              li {
                width: 90px;
                text-align: center;
                cursor: pointer;

                img {
                  width: 60px;
                  height: 60px;
                }
                p {
                  margin-top: 5px;
                  font-size: 13px;
                  color: #222;
                }

                &.active p {
                  font-weight: bold;
                  //border-bottom: 5px solid #000;
                }
              }
            }
            @media (max-width: 1024px) {
              img {
                width: 50px !important;
                height: 50px !important;
              }
              ul {
                gap: 0px!important;
                justify-content: flex-start; // 왼쪽 정렬
                flex-wrap: nowrap; // 줄바꿈 없음
                overflow-x: auto;
                scrollbar-width: none; // firefox용
                -ms-overflow-style: none; // IE, Edge용
                &::-webkit-scrollbar {
                  display: none; // 크롬 사파리 스크롤 숨기기
                }
                li {
                  flex: 0 0 auto; // li가 줄어들지 않고 고정 너비 유지
                }
              }
            }
          }
        }
        .product_main {
          width: 100%;
          //border-top: 1px solid #ddd;
          display: flex;
          justify-content: center;

          .main_container {
            width: 100%;
            max-width: 1200px;

            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            row-gap: 20px;
            @media (max-width: 1024px) {
              gap: 12px;
              row-gap: 40px;
              .product_list {
                width: calc((100% - 12px) / 2) !important;
              }
            }
            @media (min-width: 1024px) {
              img {
                height: 285px;
              }
            }

            .product_list {
              .img_box{
                border-radius:12px;
                background: #f2f2f2;
              }
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              //width: 23%;
              width: calc((100% - 60px) / 5);
              cursor: pointer;
              @media (max-width: 1024px) {
                img{
                  width: 100% !important;
                }
              }
              img {
                width: 230px;
                height: 230px;
                object-fit: cover;
              }
              .brand_name{
                color: #222;
                //margin-top: 12px;
                font-size: 12px;
                font-weight: 700;
                color: #222;
                margin-bottom: 2px;
              }
              .text{
                -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              color: #a7a7a7;
              display: -webkit-box;
              font-size: 11px;
              line-height: 16px;
              max-height: 34px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
              }
              .name {
                font-size: 13px;
                line-height: 18px;
                text-align: left;
                white-space: normal;
                color: #222;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
              }

              .price {
                margin-top: 10px;
                font-size: 14px;
                color: #000000;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}