#noble_detail_bottom {
  width: 100%;
  display: flex;
  justify-content: center;

  .ndb_container {
    img {
      width: 100%;
    }

    .title {
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
      color: #000000;
    }

    max-width: 1000px;

    .detail_mainImg {
      .mainImgBox {
        width: 100%;
        margin-bottom: 25px;
      }
    }

    .detail_subImg {
      .detail_subImgBox {
        width: 100%;
      }
    }

    .detail_wearingImg {
      .detail_subImgBox {
        width: 100%;
        margin-bottom: 25px;
      }
    }

    .detail_review {
      margin-top: 50px;
      .review_top{
        display: flex;
        justify-content: space-between;
        .review_make{
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .review_box{
        .review_content{
          padding: 15px 10px 10px;
          border-bottom: 1px solid #939393;
          .star{
            margin-bottom: 8px;
            display: flex;
            i{
              font-size: 14px;
            }
            .meta{
              font-size: 13px;
              padding: 0 5px;
            }
          }
        }
      }
    }

    .detail_related {
      .related_product {
        margin-top: 50px;

        .hot_item {
          .sub_text {
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            color: rgba(34, 34, 34, .5);
            margin-top: 2px;
            margin-bottom: 16px;
          }
        }

        .item_box {
          column-gap: 12px;
          grid-template-columns: repeat(5, minmax(0, 1fr));
          display: grid;
          row-gap: 28px;
          cursor: pointer;

          @media (max-width: 1024px) {
            display: flex;
            flex-wrap: nowrap;
            gap: 8px;
            overflow-x: auto;
            scrollbar-width: none;
            width: 100%;
            .item {
              width: 152px !important;
              flex: 0 0 auto;
              margin: 0;
              padding: 0;
              display: inline-block;
              position: relative;
              vertical-align: top;
            }
          }

          .item {
            width: 100%;
            background-color: #fff;
            border-radius: 12px;
            display: block;

            img {
              width: 100%;
              border-radius: 12px;
            }

            .info_box {
              padding: 12px 4px 0;

              .title {
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                color: #222;
                display: -webkit-box;
                font-size: 12px;
                font-weight: 700;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
              }

              .text {
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                color: #222;
                display: -webkit-box;
                font-size: 13px;
                line-height: 16px;
                max-height: 34px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
              }

              .price {
                margin-top: 10px;
                color: rgb(34, 34, 34);
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
              }
            }
          }
        }
      }
    }
  }
}