#noble_detail_bottom {
  width: 100%;
  display: flex;
  justify-content: center;

  .ndb_container {
    width: 100%;
    img {
      width: 100%;
    }

    .title {
      @media (max-width: 1024px) {
        font-size: 17px !important;
      }
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
      color: #000000;
    }

    max-width: 800px;

    .detail_mainImg {
      @media (max-width: 1024px) {
        .title{
          margin-bottom: 10px !important;
        }
      }
      .title{
        margin-bottom: 30px;
      }
      .mainImgBox {
        @media (max-width: 1024px) {
          margin-bottom: 15px !important;
        }
        background: #f2f2f2;
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .detail_notice{
      @media (max-width: 1024px) {
        .title{
          margin:56px 0 10px !important;
        }
      }
    }
    .detail_subImg {
      margin-top: 90px;
      .detail_subImgBox {
        width: 100%;
      }
    }

    .detail_wearingImg {
      .detail_subImgBox {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .detail_review {
      margin-top: 50px;
      .review_top{
        display: flex;
        justify-content: space-between;
        .review_make{
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .review_box{
        .review_content{
          padding: 15px 10px 10px;
          border-bottom: 1px solid #939393;
           img {
             width: 100%;
            max-width: 100px;
            margin: 4px;
            cursor: pointer;
          }
          .thumbs {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
          }
          .star{
            margin-bottom: 8px;
            display: flex;
            i{
              font-size: 14px;
            }
            .meta{
              font-size: 13px;
              padding: 0 5px;
            }
          }
          .content{
            margin-bottom: 15px;
          }
        }
      }
    }
    .detail_related {
      .related_product {
        margin-top: 50px;
        //.title{
        //  margin-bottom: 20px;
        //}

        .item_box{
          column-gap: 12px;
          grid-template-columns: repeat(5, minmax(0, 1fr));
          display: grid;
          row-gap: 28px;
          cursor: pointer;

          @media (max-width: 1024px) {
            display: flex;
            flex-wrap: nowrap;
            gap: 8px;
            overflow-x: auto;
            scrollbar-width: none;
            width: 100%;
            .item{
              width: 152px !important;
              flex: 0 0 auto;
              margin: 0;
              padding: 0;
              display: inline-block;
              position: relative;
              vertical-align: top;
            }
          }

          .item{
            width: 100%;
            background-color: #fff;
            border-radius: 12px;
            display: block;
            img{
              background: #f2f2f2;
              width: 100%;
              border-radius: 12px;
            }
            .info_box{
              //padding: 12px 4px 0;
              //@media (max-width: 1024px) {
              padding: 0px 4px 0 !important;
              //}

              @media (max-width: 1024px) {
                .brand_name{
                  margin-top: 10px!important;
                }
                .name {
                  //-webkit-line-clamp: 2 !important;
                }
                .text{
                  font-size: 10px!important;
                }
              }
              .brand_name{
                color: #222;
                margin-top: 12px;
                font-size: 12px;
                font-weight: 700;
                color: #222;
                margin-bottom: 2px;
              }
              .text{
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                color: #a7a7a7;
                display: -webkit-box;
                font-size: 11px;
                line-height: 16px;
                max-height: 34px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
              }
              .name {
                font-size: 13px;
                line-height: 18px;
                text-align: left;
                white-space: normal;
                color: #222;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
              }
            }
          }
        }
      }
    }
    .blur-overlay {
      position: relative;
      overflow: hidden;
    }
    .blur-overlay img {
      filter: blur(10px); /* 흐림 효과 */
      pointer-events: none; /* 클릭 방지 */
      user-select: none;
    }
    @media (max-width: 1024px) {
      .blur-overlay::after {
        font-size: 13px !important;
      }
    }
    .blur-overlay::after {
      content: "회원 전용 서비스입니다";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      color: white;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px 15px;
      border-radius: 5px;
      z-index: 1;
      text-align: center;
    }
  }

  .modal-overlay{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    .modal-content {
      position: relative;
      width: 90%;
      max-width: 680px;
      background: #fff;
      //padding: 16px;
      border-radius: 8px;
    }
    .modal-image {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    .close-btn {
      z-index: 101;
      position: absolute;
      top: 8px;
      right: 8px;
      background: #333;
      color: #fff;
      border: none;
      padding: 6px 10px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}