@import "header";
@import "./home/section1";
@import "./home/section2";
@import "./home/section3";
@import "./home/section4";
@import "./home/section5";
@import "./home/section6";
@import "./home/section7";
@import "./home/section8";
@import "./home/section9";
@import "./home/searchView";
@import "footer";
@import "./sign/login";
@import "./sign/term";
@import "./sign/form";
@import "./sign/comp";
@import "./components/homeview/homeView";
@import "./components/category/Category";
@import "./components/category/categoryTab";
@import "./components/category/brandView";
@import "./components/category/nobleDetailBottom";
@import "./home/cartview";
@import "./admin/adminMain";
@import "./admin/productsave";
@import "./home/cartform";
@import "./home/cartcomp";
@import "./home/orderList";
@import "./home/introduction";
@import "./wishlist";
@import "./components/drawer/searchDrawer";
@import "./components/dialog/sizeDialog";
@import "utility/typography";

.ql-tooltip {
  left: 0 !important;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;

  li {
    list-style: none;
  }

  a {
    text-decoration-line: none;
  }

  p {
    margin: 0;
  }
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

html, body, #app {
  height: 100%;
  @media (max-width: 1024px) {
    .kakao_icon {
      bottom: 0px !important;
      right: 0px !important;
      width: 80px !important;
      height: 80px !important;
    }
  }
  .kakao_icon {
    border-radius: 50px;
    //background: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    z-index: 999;
  }
}

@media (max-width: 1024px) {
  .el-message-box__wrapper {
    padding: 20px;

    .el-message-box {
      width: 100%;
    }
  }
}

.el-message-box__btns .el-button--primary {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}